<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h2>Lista de Libros</h2>
    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#newBookModal">Nuevo Libro</button>
  </div>
  <!-- Modal para agregar un nuevo libro -->
<div class="modal fade" id="newBookModal" tabindex="-1" aria-labelledby="newBookModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newBookModalLabel">Agregar Nuevo Libro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="newBookForm" (ngSubmit)="addBook()">
          <div class="mb-3">
            <label for="title" class="form-label">Título</label>
            <input type="text" id="title" class="form-control" formControlName="title" required />
          </div>
          <div class="mb-3">
            <label for="author" class="form-label">Autor</label>
            <input type="text" id="author" class="form-control" formControlName="author" required />
          </div>
          <div class="mb-3">
            <label for="isbn" class="form-label">ISBN</label>
            <input type="text" id="isbn" class="form-control" formControlName="isbn" required />
          </div>
          <div class="mb-3">
            <label for="publicationYear" class="form-label">Año de Publicación</label>
            <input type="number" id="publicationYear" class="form-control" formControlName="publicationYear" required />
          </div>
          <div class="mb-3">
            <label for="genre" class="form-label">Género</label>
            <input type="text" id="genre" class="form-control" formControlName="genre" required />
          </div>
          <div class="mb-3">
            <label for="imageUrl" class="form-label">URL de la Imagen</label>
            <input type="url" id="imageUrl" class="form-control" formControlName="imageUrl" required />
          </div>
          <button type="submit" class="btn btn-success w-100" [disabled]="newBookForm.invalid">Guardar Libro</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para editar un libro existente -->
<div class="modal fade" id="editBookModal" tabindex="-1" aria-labelledby="editBookModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editBookModalLabel">Editar Libro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editBookForm" (ngSubmit)="updateBook()">
          <div class="mb-3">
            <label for="editTitle" class="form-label">Título</label>
            <input type="text" id="editTitle" class="form-control" formControlName="title" required />
          </div>
          <div class="mb-3">
            <label for="editAuthor" class="form-label">Autor</label>
            <input type="text" id="editAuthor" class="form-control" formControlName="author" required />
          </div>
          <div class="mb-3">
            <label for="editIsbn" class="form-label">ISBN</label>
            <input type="text" id="editIsbn" class="form-control" formControlName="isbn" required />
          </div>
          <div class="mb-3">
            <label for="editPublicationYear" class="form-label">Año de Publicación</label>
            <input type="number" id="editPublicationYear" class="form-control" formControlName="publicationYear" required />
          </div>
          <div class="mb-3">
            <label for="editGenre" class="form-label">Género</label>
            <input type="text" id="editGenre" class="form-control" formControlName="genre" required />
          </div>
          <div class="mb-3">
            <label for="editImageUrl" class="form-label">URL de la Imagen</label>
            <input type="url" id="editImageUrl" class="form-control" formControlName="imageUrl" required />
          </div>
          <button type="submit" class="btn btn-primary w-100" [disabled]="editBookForm.invalid">Actualizar Libro</button>
        </form>
      </div>
    </div>
  </div>
</div>


    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Portada</th>
          <th>Título del Libro</th>
          <th>Autor</th>
          <th>ISBN</th>
          <th>Año de Publicación</th>
          <th>Género</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <!-- Columna para la imagen -->
          <td>
            <img
              [src]="book.imageUrl"
              alt="{{ book.title }}"
              style="width: 70px; height: 95px; object-fit: contain; cursor: pointer;"
              (click)="showFullImage(book.imageUrl)"
            />
          </td>
          <!-- Otras columnas con datos del libro -->
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.isbn }}</td>
          <td>{{ book.publicationYear }}</td>
          <td>{{ book.genre }}</td>
          <td>
            <button class="btn btn-warning"  data-bs-toggle="modal" data-bs-target="#editBookModal" (click)="openEditModal(book)">Editar</button>
            <button class="btn btn-danger" (click)="confirmDelete(book.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div
      class="fullscreen-image"
      *ngIf="isImageVisible"
      (click)="hideFullImage()"
    >
      <img [src]="selectedImage" alt="Portada del libro" />
    </div>
  </div>