.container {
  background-color: #212529; /* Fondo oscuro */
  color: #ffffff; 
  padding: 25px; /* Añadir relleno para una mejor apariencia */
}

.custom-table {
  background-color: #1e1e1e; /* Fondo oscuro */
  color: #ffffff; /* Texto blanco */
}

/* Centra las imágenes en la celda */
.table td img {
  display: block;
  margin: auto;
}

/* Estilo para la imagen en pantalla completa */
.fullscreen-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.fullscreen-image img {
  max-width: 90%;
  max-height: 90%;
  border: 2px solid white;
  border-radius: 10px;
}

.table td,
.table th {
  text-align: center;
  vertical-align: middle; /* Para centrar verticalmente */
}
