<div class="container">
  <h2>Lista de Libros</h2>
  <table class="table custom-table table-bordered  table-dark">
    <thead class="thead-dark">
      <tr>
        <th>Portada</th>
        <th>Título del Libro</th>
        <th>Autor</th>
        <th>ISBN</th>
        <th>Año de Publicación</th>
        <th>Género</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <!-- Columna para la imagen -->
        <td>
          <img
            [src]="book.imageUrl"
            alt="{{ book.title }}"
            style="width: 70px; height: 95px; object-fit: contain; cursor: pointer;"
            (click)="showFullImage(book.imageUrl)"
          />
        </td>
        <!-- Otras columnas con datos del libro -->
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.isbn }}</td>
        <td>{{ book.publicationYear }}</td>
        <td>{{ book.genre }}</td>
      </tr>
    </tbody>
  </table>
  <div
    class="fullscreen-image"
    *ngIf="isImageVisible"
    (click)="hideFullImage()"
  >
    <img [src]="selectedImage" alt="Portada del libro" />
  </div>
</div>
