<div class="container mt-5">
    <h2>Registro de Usuario</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="mb-3">
        <label for="firstName" class="form-label">Nombre</label>
        <input
          type="text"
          id="firstName"
          class="form-control"
          formControlName="firstName"
          placeholder="Ingrese su nombre"
        />
        <div *ngIf="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched" class="text-danger">
          El nombre es obligatorio.
        </div>
      </div>
  
      <div class="mb-3">
        <label for="lastName" class="form-label">Apellido</label>
        <input
          type="text"
          id="lastName"
          class="form-control"
          formControlName="lastName"
          placeholder="Ingrese su apellido"
        />
        <div *ngIf="registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched" class="text-danger">
          El apellido es obligatorio.
        </div>
      </div>
  
      <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input
          type="email"
          id="email"
          class="form-control"
          formControlName="email"
          placeholder="Ingrese su correo"
        />
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-danger">
          El correo es obligatorio y debe ser válido.
        </div>
      </div>
  
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
          placeholder="Ingrese su contraseña"
        />
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-danger">
          La contraseña es obligatoria.
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary w-100" [disabled]="registerForm.invalid">Registrar</button>
    </form>
  
    <div *ngIf="message" class="alert alert-success mt-3">
      {{ message }}
    </div>
  
    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
      {{ errorMessage }}
    </div>
  </div>
  